 <div class="alert alert-success" *ngIf='message'>{{message}}</div> 
<div class="container">

        
    <form [formGroup]="form" (ngSubmit)="airlineSubmit()">
           
        <div class="form-group">
            <label for="airlineName">Airline:</label>
            <select formControlName="airlineName" class="form-control" required = true> 
                <option disabled>Select Airline</option>
                <option>Choose Airline</option>
                <option *ngFor="let airline of airlines">{{airline.airlineName}}</option>
            </select>
            
        </div>
       
        <button class="btn btn-primary" type="submit" [disabled]="!form.valid">Submit</button>
    </form>
</div>
<div></div>

<div *ngIf = "submitted" class="container">
    <table class="table">
      <thead>
        <tr>
          <th>FlightNumber</th>
          <th>From</th>
          <th>To</th>
          <th>TotalSeats</th>
          <th>Cost</th>
          <th>ScheduledDates</th>
          <th>mealType</th>
          <th>Update</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
      
                <tr *ngFor="let flight of flights">
                  <td>{{flight.flightNumber}}</td>
                  <td>{{flight.from}}</td>
                  <td>{{flight.to}}</td>
                  <td>{{flight.totalSeats}}</td>
                  <td>{{flight.cost}}</td>
                  <td>{{flight.scheduledDates}}</td>
                  <td>{{flight.mealType}}</td>
                  <td><button (click)="updateFlight(flight.id)" class="btn btn-success">Update</button></td>
                  <td><button (click)="deleteFlight(flight.id)" class="btn btn-warning">Delete</button></td>
                </tr>
            
       
      </tbody>
  
    </table>
  
    <div class="row">
        <button (click)="addFlight()" class="btn btn-success">Add</button>
    </div>
  
  </div>
  