<header *ngIf=" !router.url.includes('users') && router.url !== '/users' && router.url !== '/users/user/bookFlight'
&& router.url !== '/users/user/manageBookings' && router.url !== '/users/user/bookingHistory'">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <!-- <div><a href="http://ec2-3-131-100-69.us-east-2.compute.amazonaws.com/users/user" class="navbar-brand">
            UserBooking</a></div> -->
            <div><a routerLink="/users/user" class="nav-link">
                UserBooking</a></div>

            <ul class="navbar-nav">
                <li><a *ngIf="basicAuthService.IsUserLoggedIn()"  routerLink="/welcome/admin" class="nav-link">Home</a></li>
                <li><a *ngIf="basicAuthService.IsUserLoggedIn()"  routerLink="/airlineInventory" class="nav-link">ManageAirline</a></li>
                <li><a  *ngIf="basicAuthService.IsUserLoggedIn()" routerLink="/flightInventory" class="nav-link">ManageFlight</a></li>
                <li><a  *ngIf="basicAuthService.IsUserLoggedIn()"  routerLink="/discount" class="nav-link">ManageDiscount</a></li>
                <li><a  *ngIf="basicAuthService.IsUserLoggedIn()"  routerLink="/blockAirline" class="nav-link">BlockAirline</a></li>
            </ul>
            <ul class="navbar-nav navbar-collapse justify-content-end">
                <li><a *ngIf="!basicAuthService.IsUserLoggedIn()"  routerLink="/login" class="nav-link">Login</a></li>
                <li><a  *ngIf="basicAuthService.IsUserLoggedIn()"  routerLink="/logout" class="nav-link">Logout</a></li>
            </ul>
        </nav>
</header>
