<div class="alert alert-success" *ngIf='message'>{{message}}</div> 
<div class="alert alert-warning" *ngIf='noRecord'>{{noRecord}}</div> 
<div class="container">
    <form [formGroup]="searchForm" autocomplete="off" novalidate (ngSubmit)="handleSearch(searchForm.value)">
      <div>
        <div class="form-group">
            <label for="pnrNumber">PNR Number</label>
            <input type="text" class="form-control" id="pnrNumber" 
              placeholder="Enter PNR Number" formControlName="pnrNumber" />
          </div>
      </div>
        <button class="btn btn-primary" type="submit">Search</button>
</form>
</div>
<br/><br/> 
<div *ngIf = "submitted" class="container"  id="content" #content>
  <div  class="container">
    <input type="button" value="Download PDF" class="btn btn-success" (click)="SavePDF()">  
    <br/><br/> 
  </div>
    <table class="table">
      <thead>
        <tr>
          <th>PNR</th>
          <th>bookerEmailId</th>
          <th>From</th>
          <th>To</th>
          <th>Cost</th>
          <th>Departure Date</th>
          <th>Arrival Date</th>
          <th>PassengerName</th>
          <th>Cancel Ticket</th>
        </tr>
      </thead>
      <tbody>
      
                <tr>
                  <td>{{bookingDetails.pnr}}</td>
                  <td>{{bookingDetails.bookerEmailId}}</td>
                  <td>{{bookingDetails.from}}</td>
                  <td>{{bookingDetails.to}}</td>
                  <td>{{bookingDetails.price}}</td>
                  <td>{{bookingDetails.departureDate}}</td>
                  <td>{{bookingDetails.returnDate}}</td>
                  <td *ngFor="let passenger of bookingDetails.passengers"> {{passenger.name}}</td>
                  <td><button (click)="cancelFlight(bookingDetails.id)" class="btn btn-warning">Cancel Ticket</button></td>
                </tr>
            
       
      </tbody>
  
    </table>
  
  
  </div>
